.env
data/
*.log
*.pdf
**/__pycache__/
*.pyc
*.zip
*.docx
*.html
*.ipynb
logs/
src/__pycache__/*
tests/__pycache__/*
eda_outputs/
model_outputs/
mlruns/
mlflow.db
.coverage
htmlcov/
# Never ignore the env template
!.env.example
